.bg-roxo {
    background-color: #7E459B;
}

a:hover {
    font-weight: 700;
}

.carousel-item {
    object-fit: cover;
    object-position: 0 50%;
    max-height: 500px;
    height: 100%;
}

.about {
   
    padding: 40px;
}

.icons_socialmedia {
    color: #7E459B;
}

.habilities {
    background-color:#7E459B;
}

/* .card {
 margin: 90px;

} */
.card-img-top {
    object-fit: fill;
   height: 300px;
   border-bottom: 1px solid rgb(216, 209, 209);

}

.btn-roxo {
    color: #fff;
    background-color: #7E459B;
}

.btn-roxo:hover {
    color: beige;
}

.footer {
    margin-top: 40px;
    padding: 10px;
} 

